.intro-text-org {
  display: flex;
  justify-content: center;
}

.intro-text {
  display: inline;
  text-align: center;
  white-space: nowrap;
  border-right: 0.1em solid var(--txt);
  height: 1.5em;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.7s steps(7, end), blink-caret 0.5s step-end infinite alternate;

}

@keyframes blink {
  50% { opacity: 0; }
}
